.fade-in {
  animation: fade-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
}

.fade-in-fast {
  animation: fade-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
}

.fade-out {
  transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
}

.fade-out-slow {
  transition: opacity 0.9s cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-and-slide-in {
  animation: fade-and-slide-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) backwards;
}

.fade-and-slide-in-with-delay {
  animation: fade-and-slide-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s backwards;
}

.fade-and-slide-out {
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
  transform: translateY(-30px);
}

@keyframes fade-and-slide-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.spin {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
