@font-face {
  font-family: "Kage";
  src: url("/fonts/KAGE-Freebies-Black.woff2") format("woff2"), url("/fonts/KAGE-Freebies-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-Thin.woff2") format("woff2"), url("/fonts/subset-EireneSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-ThinItalic.woff2") format("woff2"), url("/fonts/subset-EireneSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-Light.woff2") format("woff2"), url("/fonts/subset-EireneSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-LightItalic.woff2") format("woff2"), url("/fonts/subset-EireneSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-Regular.woff2") format("woff2"), url("/fonts/subset-EireneSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-Italic.woff2") format("woff2"), url("/fonts/subset-EireneSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-SemiBold.woff2") format("woff2"), url("/fonts/subset-EireneSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-SemiBoldItalic.woff2") format("woff2"), url("/fonts/subset-EireneSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-Bold.woff2") format("woff2"), url("/fonts/subset-EireneSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eirene Sans";
  src: url("/fonts/subset-EireneSans-BoldItalic.woff2") format("woff2"), url("/fonts/subset-EireneSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
