@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@import url("./animations.css");

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background-color: #ffb805;
}

.threeStats {
  right: 0;
  left: unset !important;
}

.contentTextWrap {
  max-height: calc(100% - 100px);
}

.contentTextBody a:hover {
  color: #ffc716;
  text-decoration: underline;
}

.contentTextBody ul {
  list-style-type: circle;
  padding-inline-start: 0.8rem;
  padding-block-start: 0.15rem;
}

.contentTextBody.noListStyle ul {
  list-style-type: none;
  padding-inline-start: 0;
  padding-block-start: 0;
}

.contentTextBody ul li + li {
  margin-top: 0.4rem;
}
